[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-dance = "*"
flask-login = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy_utils = "*"
gunicorn = "*"
blinker = "*"

[requires]
python_version = "3.7.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
codecov = "*"
